body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}
 
h1{
    color: white;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    padding: 20px 0px;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 10%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

span {
    color: white;
}

#message {
    color: black;
    display: inline-block;
    width: 20%;
    font-size: inherit;
}

#stripe {
    height: 30px;
    background-color: white;
    text-align: center;
}

.selected {
    color: white;
    background-color: steelblue;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}